@use '../abstract/'as *;

/*푸터*/

#footer{
  background-color: $white;;
  position: relative;
  &::before{
    content:'';
    position: absolute;
    top: -9%;
    height: 10%;
    width: 100%;
    border-radius: $border-radius $border-radius 0 0;
    box-shadow: $box-shadow-lg-up;
    background-color: $white;;
  }
}

.footer-wrapper{
  @include vstack(10);
  flex-direction: column-reverse;
  padding: rem(10) rem(0) rem(60) rem(0);
  width: 100%;
  span{
    font : {
      size:rem(12);
    }
    color : $gray;
    flex: 1 1 0%;
    width: fit-content;
    display: inline-block;
  }
  .line{
    width: 100%;
    display: block;
    height: 1px;
    background-color: $dark-gray;
    flex: none;
    margin-bottom: rem(10);
  }

  @include media-tablet-up{
    flex-direction: row;
    align-items: center;
    gap: rem(60);
    padding: rem(36) rem(20) rem(80) rem(20);

    .line{
      display: block;
      flex: 1 0 0%;
      margin: 0;
    }
  }
}