@use '../abstract/'as *;

/*푸터*/

#footer{
  background-color: $white;;
  position: relative;
  &::before{
    content:'';
    position: absolute;
    top: -9%;
    height: 10%;
    width: 100%;
    border-radius: $border-radius $border-radius 0 0;
    box-shadow: $box-shadow-lg-up;
    background-color: $white;;
  }
}

.footer-wrapper{
  @include vstack(20);
  flex-direction: column-reverse;
  padding: rem(10) rem(20) rem(60) rem(20);
  width: 100%;
  span{
    color : $gray;
    flex: 0 0 auto;
  }
  .line{
    width: 100%;
    display: block;
    height: 1px;
    background-color: $dark-gray;
    flex: none;
  }
  @include media-mobile-up{
    .line{
      display: none;
    }
  }

  @include media-laptop-up{
    flex-direction: row;
    align-items: center;
    gap: rem(60);
    padding: rem(36) rem(20) rem(80) rem(20);

    .line{
      flex: 1 0 0%;
    }
  }
}