@use 'abstract'as *;



#header {
  position: sticky;
  border-bottom: 1rem solid $border-color;
  height: $header-height;
  z-index: 1030;
  display: block;
  max-width: none;
  padding: 0;
  width: 100%;
  top: 0;
  background: $white;
  transition: top 0.3s;
  .inner {
    @include hstack(0);
    font-size: rem(15);
    justify-content: space-between;
    max-width: none;
  }

  @include media-mobile-up {
    height: $header-height;
  }


  .open-menu & {
    background-color: $black;
    border-color: $black;
  }

  &.hide-header{
    top:-#{$header-height};
  }

}



.menu-button {
  @include vstack(0);
  justify-content: space-between;
  width: 26px;
  height: 18px;
  padding: 20px 10px;
  box-sizing: content-box;
  position: relative;
  margin-right: -10px;
  span {
    position: relative;
    width: 24px;
    height: 2px;
    text-indent: -9999em;
    background-color: $black;
    transition: all 0.6s;
  }


  .open-menu & {
    span {
      position: absolute;
      background-color: $white;

      &:nth-child(1) {
        transform: translate(0px, 7.9104px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        visibility: hidden;
      }

      &:nth-child(3) {
        bottom: 22px;
        transform: translate(0px, -6.0104px) rotate(-45deg);
      }
    }
  }

  @include media-tablet-up {
    display: none;
  }
}

.logo-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;

  @include media-tablet-up {
    padding: 0
  }

  @include media-laptop-up {
    flex: none;
  }
}

.logo {
  font : {
    weight: 900;
  }
  

  .open-menu & {
    svg {
      path {
        fill: $white;
      }
    }

    span {
      color: $white;

      &::before {
        background-color: $white;
      }
    }
  }
}


.gnb {
  opacity: 0;
  visibility: hidden;
  display: none;
  .open-menu & {
    background-color: $black;
    position: fixed;
    top: $header-height;
    // top: 0;
    width: 100%;
    height: calc(100vh - $header-height);
    left: 0;
    padding: rem(18) 0;
    opacity: 1;
    visibility: visible;
    display: block;
    overflow-x: auto;
  }
}
