@use 'abstract'as *;



#header {
  position: sticky;
  height: $header-height;
  z-index: 1030;
  display: block;
  max-width: none;
  padding: 0;
  width: 100%;
  top: 0;
  background-color: transparent;

  isolation: isolate;
  transition: top 0.2s, mix-blend-mode 0.2s;
  .inner {
    @include hstack(0);
    justify-content: space-between;
  }

  @include media-mobile-up {
    height: $header-height-lg;
  }


  .open-menu & {
    background-color: $black;
    border-color: $black;
  }

  &.hide-header{
    top:-#{$header-height};
  }

}


.header-util{
  @include hstack(10);
  p{
    display: none;
  }
  .talk-button{
    display: none;
    margin-left: auto;
  }

  @include media-tablet-up{
    flex-grow: 1;
    justify-content: space-between;
    p{
      display: block;
    }
    .talk-button{
      display: block;
    }
  }
}


.menu-button {
  width: rem(30);
  height: rem(30);
  background: $black svg-image(plus, fff) no-repeat center;
  border-radius: 50%;
  background-size: 60%;
  transition: transform 0.2s;
  .open-menu & {
    transform: rotate(45deg);
  }

  @include media-mobile-up{
    width: rem(40);
    height: rem(40);
  }
}

.logo {
  font : {
    weight: $fw-bold;
  }
  letter-spacing: -0.75rem;
  color: $black;
  // flex-grow: 1;
  width: rem(140);

  .open-menu & {
    color:$white;
  }

  @include media-mobile-up{
    flex-grow: 1;
  }
}

.gnb{
  opacity: 0;
  visibility: hidden;
  display: none;
  padding:0 rem(20);
  .open-menu & {
    @include vstack(null);
    justify-content: flex-end;
    background-color: $black;
    position: fixed;
    top: $header-height;
    // top: 0;
    width: 100%;
    height: calc(100vh - $header-height);
    left: 0;
    padding: rem(20);
    opacity: 1;
    visibility: visible;
    overflow-x: auto;
  }
}

.gnb-list {
  width: 100%;
  justify-self: flex-end;
  padding-bottom: rem(40);
  a{
    font : {
      size : $fs-xl;
    }
    padding:rem(24) rem(20);
    color:$white;
    display: block;
    width: 100%;
    border-bottom:1px solid $border-color;
    position: relative;
    mix-blend-mode: difference;
    isolation: isolate;
    // transition: all 0.3s 0.4s ease-in-out ;
    &::before{
      content: '';
      width: 0;
      height: 100%;
      background-color: $black;
      transition: all 0.3s  ease-in-out ;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      mix-blend-mode: difference;
      isolation: isolate;
      transition: width 0.2s ease-in-out, background-color 0.1s ease-in ;
    }
    &::after{
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: rem(24);
      height: rem(24);
      background: svg-image(outlink, fff) no-repeat center;
      background-size: contain;
      display: block;
      mix-blend-mode: difference;
      isolation: isolate;
      transition: transform 0.2s ease-in-out ;
    }
    &:hover{
      color:$white;
      padding-left: rem(28);
      &::before{
        width: 100%;
        background-color: $white;
      }
      &::after{
        background: svg-image(outlink, 111) no-repeat center;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
}
