$primary: #FF233D;
$secondary: #1aeb61;
$black: #000;
$dark-gray-1: #161618; 
$dark-gray-2: #202020; 
$dark-gray-3: #333333; 
$dark-gray-4: #444444; 
$gray-1: #aaaaaa;
$gray-2: #999999;
$light-gray-1: #dddddd;
$light-gray-2: #e5e5e5;
$light-gray-3: #f5f5f5;
$white: #ffffff;