// 공통 
.line-height-normal{line-height: normal;}

.identity{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: -10px;
        width: 0;
        height: 0;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #ed1b23;
    }
}