// icons
[class^=icon-]{display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;}

.icon-left-arrow{
    width: 12px; height: 12px; background-image: url('../images/icon-left-arrow.svg');
}
.icon-right-arrow{
    width: 12px; height: 12px; background-image: url('../images/icon-right-arrow.svg');
}
.icon-plus{
    width: 10px; height: 10px; background-image: url('../images/icon-plus.svg');
}
.icon-top-arrow{
    width: 12px; height: 12px; background-image: url('../images/icon-top-arrow.svg');
}
.icon-minus{
    width: 10px; height: 2px; background-image: url('../images/icon-minus.svg');
}
.icon-close{
    width: 10px; height: 10px; background-image: url('../images/icon-close.svg');
}
.icon-w-left-arrow{
    width: 12px; height: 12px; background-image: url('../images/icon-w-left-arrow.svg');
}
.icon-w-right-arrow{
    width: 12px; height: 12px; background-image: url('../images/icon-w-right-arrow.svg');
}
.icon-w-plus{
    width: 10px; height: 10px; background-image: url('../images/icon-w-plus.svg');
}
.icon-w-top-arrow{
    width: 12px; height: 12px; background-image: url('../images/icon-w-top-arrow.svg');
}
.icon-w-close{
    width: 10px; height: 10px; background-image: url('../images/icon-w-close.svg');
}
.icon-download{
    width: 24px; height: 24px; background-image: url('../images/icon-download.svg');
}
.icon-download-hover{
    width: 24px; height: 24px; background-image: url('../images/icon-download-hover.svg');
}