/*웹폰트 스타일*/

@font-face {
  font-family: 'KakaoBig';
  font-weight: 400;
  src: url('../fonts/KakaoBig.woff2') format('woff2'),
       url('../fonts/KakaoBig.woff') format('woff');
}

@font-face {
  font-family: 'KakaoBig';
  font-weight: 600;
  src: url('../fonts/KakaoBig-Bold.woff2') format('woff2'),
       url('../fonts/KakaoBig-Bold.woff') format('woff');
}