@use '../abstract/'as *;

.article-about {
  .main-title {
    font: {
      size: rem(40)
    }

    ;
  }

  @include media-mobile-up {
    .main-title {
      font: {
        size: $fs-xxl;
      }
    }
  }
}


.my-service-wrap {}

.my-service-list {
  @include grid-container(null, 2, null);

  &__left {
    .card {
      background-color: #9dedde;;
    }
  }

  &__right {
    display: none;
    .card {
    }
  }

  .card {
    width: 100%;
    min-height: rem(200);
  }

  @include media-tablet-up {
    &__right {
      background-color: $white;
      .card {
        @include vstack(14);
        height: 100%;
        width: 100%;
        justify-content: center;
        small{
          color:#5bcfb9;
        }
        strong{
          font : {
            size: $fs-lg;
          }
        }
      }
    }
   
  }
}