@use '../abstract/' as *;

.article-about{
  .main-title{
    font: {
      size: rem(40)
    };
  }

  @include media-mobile-up{
    .main-title{
      font: {
        size: $fs-xxl;
      }
    }
  }
}


.my-service-wrap{
  
}

.my-service-list{
  @include grid-container(null, 2, null);
  >*{
    align-self: stretch;
  }
  .card{
    display: block;
  }
}