@use '../abstract/' as *;

.touch-section{


}

.touch-wrap{
  @include card(40, 10);
  background-color: $white;
  width: 95%;
  margin: auto;
  .description-wrapper{
    gap: rem(120);
  }
  h1{
    font : {
      size:rem(30);
    }
    margin-top: rem(30);
    margin-bottom: rem(16);
  }
  p{
    font : {
      size: rem(20);
    }
    color:$gray;
  }

  @include media-tablet-up{
    padding-bottom:rem(200);
    .description-wrapper{
      gap: rem(200);
      text-align: center;
      position: relative;
      padding-top: rem(300);
      &::before{
        content: '';
        width: 1px;
        height: 200px;
        background-color: $gray;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
      }
    }

    h1{
      font : {
        size:$fs-xxl;
        // size:4vw;
      }
      margin-top: rem(60);
      margin-bottom: rem(40);
    }
    p{
      font : {
        size: rem(50);

      }
    }
  }
}


.mail-button{
  @include button();
  width: fit-content;
  background-color: $black;
  color: $white;;

  @include media-tablet-up{
    width: fit-content;
    margin: auto;
    border-radius: 60px;
    position: relative;
    display: block;
    background-color: transparent;
    padding: 0;
    transition: none;
    height: rem(100);
    span{
      @include button();
      height: rem(100);
      background-color: $black;
      color: $white;
      // transition: all 0.3s ease-in-out 0s;
      &:nth-child(1){
        @include hstack(null);
        justify-content: center;
        width: rem(200);
        transition: transform 0.4s ease-in-out 0s, padding 0.5s;
      }
      &:nth-child(2){ transition: transform 0.4s ease-in-out 0s, padding 0.5s}
      &:nth-child(3){
        transform: rotate(-90deg);
        background-color: $red;
        transition:  transform 0.2s;
      }
    }
    &:hover, &:focus{
      @include hstack(10);
      justify-content: center;
      width: rem(280);
      height: rem(100);
      background-color: $black;
      border-radius: rem(100);
      span{
        padding:0;
        width: auto;
        background-color: $black;
        &:nth-child(3){
          transform: rotate(0);
        }
      }
 
    }
  }
}