@use '../abstract/' as *;


.touch-wrap{
  @include media-mobile-up{
    .description-wrapper{
      gap: rem(60);
      text-align: center;
      span{
        color:$dark-gray;
      }
    }

    h1{
      font : {
        size:rem(100);
      }
    }
    p{
      font : {
        size: rem(60);
      }
    }
  }
}


.mail-button{
  @include media-mobile-up{
    width: fit-content;
    margin: auto;
    border-radius: 60px;
    position: relative;
    span{
      @include button();
      height: rem(100);
      background-color: $black;
      color: $white;
      // transition: all 0.3s ease-in-out 0s;
      &:nth-child(1){
        @include hstack(null);
        justify-content: center;
        width: rem(200);
        transition: all 0.4s ease-in-out 0s;
      }
      &:nth-child(2){ transition: all 0.4s ease-in-out 0s;}
      &:nth-child(3){
        transform: rotate(-90deg);
        transition: all 0.3s ease-in-out 0s;
      }
    }
    &:hover{
      width: rem(280);
      height: rem(100);
      background-color: $black;
      border-radius: rem(100);
      @include hstack(10);
      justify-content: center;
      span{
        padding:0;
        width: auto;
        &:nth-child(3){
          transform: rotate(0);
        }
      }
 
    }
  }
}