@use '../abstract/' as *;


.touch-wrap{
  @include media-mobile-up{
    .description-wrapper{
      grid-template-columns:repeat(2, 1fr);
    }
    h2{
      font : {
        size:rem(60);
      }
    }
  }
}


.mail-button{
  
  @include media-mobile-up{
    span{
      @include button();
      height: rem(100);
      background-color: $black;
      color: $white;
      transition: all 0.5s ease-in-out 0s;
      &:nth-child(1){
        @include hstack(null);
        justify-content: center;
        width: rem(120);
      }
      &:nth-child(2){}
      &:nth-child(3){
        transform: rotate(-90deg);
      }
    }
  }
}