@use '../abstract/' as *;


.hero-wrap{


  @include media-mobile-up{
    small{
      font : {
        size:rem(20);
      }
    }
  }
}
.description-wrapper{
  .description{
    margin-bottom: rem(20);
    li{
      font : {
        size: rem(14);
      }
      line-height: 1.4;
      word-wrap: break-word;
      
    }
  }
  .left-description{
    @include hstack(10);
  }

  @include media-mobile-up {
    .description{
      margin-bottom: rem(20);
      li{
        font : {
          size: rem(18);
        }
        
      }
    }
  }
}