@use '../abstract/' as *;

// 히어로 섹션
.hero-wrap{
  @include media-mobile-up{
    margin-top: rem(200);
    small{
      font : {
        size:rem(40);
      }
    }
  }
}
.description-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: rem(40);
  .description{
    margin-bottom: rem(20);
  }
  .left-description{
    @include hstack(20);
  }
  .right-description{
    font : {
      size : $fs-md;
    }
  }

  @include media-mobile-up {
    .description{
      li{
        font : {
          size: $fs-lg;
        }
        line-height: 1.8;
      }
    }
  }
}
.visual-img-wrap{
  .inner{
    padding:0
  }
  img{
 
    filter: grayscale(100%);
    height: rem(300);
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: filter 0.3s;
  }

  figure{
    position: relative;
    mix-blend-mode: difference;
    .description{
      position: absolute;
      top: 0;
      transition: all 0.3s;
      font : {
        size : $fs-lg;
        weight : bold;
      }
      // color:$white;
      text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
      color:$black;
      // border:1px solid $border-color;
    }
  }


  &:hover{
    img{
      filter: grayscale(0);
    }
  }

  @include media-mobile-up{
    .inner{
      padding: 0 rem(20);
    }
    img{
      height: auto;
      border-radius: $border-radius;
    }
    figure{
      .description{
        font : {
          size:rem(50);
        }
      }
    }
  }
}
// 히어로 섹션 끝


// 어바웃 섹션
.about-wrapper{
  @include grid-container(null, 1, 30);
  margin-top: rem(40);
  .left-container{
    @include vstack(40);
    order: 2;
    align-items: flex-start;
    font : {
      size : $fs-lg;
      weight: $fw-bold;
    }
  }

  .right-container{
    order: 1;
    color:$disabled;
    position: relative;
    padding:rem(40) rem(20);
    &::before{
      content: '';
      position: absolute;
      background: svg-image(double-quotation-open,edeeee)no-repeat center;
      background-size: contain;
      width: rem(40);
      height: rem(40);
      top: 0;
    }
  }


}
// 어바웃 섹션 끝
