@use '../abstract/' as *;


.hero-wrap{
  @include media-mobile-up{
    margin-top: rem(200);
    small{
      font : {
        size:rem(40);
      }
    }
  }
}

.description-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: rem(20);
  .description{
    margin-bottom: rem(20);
    li{
      font : {
        size: rem(14);
      }
      line-height: 1.4;
      word-wrap: break-word;
      
    }
  }
  .left-description{
    @include hstack(20);
  }

  @include media-mobile-up {
    .description{
      li{
        font : {
          size: rem(18);
        }
        line-height: 1.8;
      }
    }
  }
}



.visual-img-wrap{
  .inner{
    padding:0
  }
  img{
    // border-radius: $border-radius;
    filter: grayscale(100%);
    transition: filter 0.3s;
  }

  figure{
    position: relative;
    mix-blend-mode: difference;
    figcaption{
      position: absolute;
      top: 0;
      transition: all 0.3s;
      font : {
        weight : bold;
      }
      color:$white;
 
    }
  }
}