@use '../abstract/' as *;


.hero-wrap{
  @include media-mobile-up{
    margin-top: rem(200);
    small{
      font : {
        size:rem(40);
      }
    }
  }
}
.description-wrapper{
  .description{
    margin-bottom: rem(40);
    li{
      font : {
        size: rem(14);
      }
      line-height: 1.4;
      word-wrap: break-word;
      
    }
  }
  .left-description{
    @include hstack(10);
  }

  @include media-mobile-up {
    .description{
      li{
        font : {
          size: rem(18);
        }
        
      }
    }
    .left-description{
      @include hstack(10);
      flex-direction: column;
      align-items: flex-start;
    }
  }
}


