@use '../abstract/' as *;

.description-wrapper{
  .description{
    margin-bottom: rem(20);
    li{
      font : {
        size: rem(14);
      }
      line-height: 1.4;
      word-wrap: break-word;
      
    }
  }
  .left-description{
    @include hstack(10);
  }

  @include media-mobile-up {
    .description{
      margin-bottom: rem(20);
      li{
        font : {
          size: rem(16);
        }
        line-height: 1.4;
        word-wrap: break-word;
        
      }
    }
  }
}