@use '../abstract/' as *;

// 히어로 섹션
.hero-wrap{
  .left-description{
    @include hstack(20);
  }
  .right-description{
    font : {
      size : $fs-md;
    }
    li{
      margin-bottom: rem(6);
    }
  }
  @include media-mobile-up{
    margin-top: rem(200);
    small{
      font : {
        size:rem(40);
      }
    }
  }
}
.description-wrapper{
  @include grid-container(null, 300px , 20);
  margin-bottom: rem(40);

  @include media-mobile-up {
    .description{
      li{
        font : {
          size: $fs-lg;
        }
        line-height: 1.8;
      }
    }
  }
}
.visual-img-wrap{
  .inner{
    padding:0
  }
  img{
    filter: grayscale(100%);
    height: rem(300);
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: filter 0.3s;
  }

  figure{
    position: relative;
    mix-blend-mode: difference;
    .description{
      position: absolute;
      top: 0;
      transition: all 0.3s;
      font : {
        size : $fs-lg;
        weight : bold;
      }
      // color:$white;
      text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
      color:$black;
      // border:1px solid $border-color;
    }
  }


  &:hover{
    img{
      filter: grayscale(0);
    }
  }

  @include media-mobile-up{
    .inner{
      padding: 0 rem(20);
    }
    img{
      height: auto;
      border-radius: $border-radius;
    }
    figure{
      .description{
        font : {
          size:rem(50);
        }
      }
    }
  }
}
// 히어로 섹션 끝


// 어바웃 섹션
.about-wrap{
  .visual-title{
    text-align: center;
    span{
      color:$dark-gray;
      text-shadow: text-outline($dark-gray);
    }
  }
}
.about-wrapper{
  @include grid-container(null, 1, 30);
  margin-top: rem(40);
  position: relative;

  .left-container{
    @include vstack(40);
    font : {
      size : $fs-xl;
      weight: $fw-bold;
    }
    order: 1;
    align-items: flex-start;
  }

  .right-container{
    order: 0;
    position: relative;
    padding:rem(60) rem(20);
    margin:rem(50) auto rem(0) auto;
    &::before{
      content: '';
      position: absolute;
      background: svg-image(double-quotation-open,edeeee)no-repeat center;
      background-size: contain;
      width: rem(40);
      height: rem(40);
      top: 0;
      left: 0;
    }
    &::after{
      content: '';
      position: absolute;
      background: svg-image(double-quotation-close,edeeee)no-repeat center;
      background-size: contain;
      width: rem(40);
      height: rem(40);
      bottom: 0;
      right: 0;
    }
    p{
      color:$disabled;
      &.active{
        color:$black;
      }
    }
    strong{
      color:$disabled;
      &.active{
        color:$black;
        font-size: $fs-lg;
      }
    }
  }

  .active-text{
    word-break: keep-all;
    br{
      display: none;
    }
  }

  @include media-mobile-up{
    grid-template-columns: repeat(2, 1fr);
    margin-top: rem(150);
    .left-container{ 
      order: 0;
      align-self: start;
      justify-self : center;
      position: sticky;
      top: rem(120);
    }
    .right-container{
      width: 75%;
      margin-top: rem(350);
      justify-self : center;
    }
    .active-text{
      br{
        display: block;
      }
    }
  }
}
// 어바웃 섹션 끝
