@use '../abstract/' as *;

.tab-wrap{
  @include hstack(10);
  margin-top: rem(20);
  margin-bottom: rem(20);
  a{
    font : {
      size: $fs-lg;
    }
    color:$gray;
    position: relative;
    transition: all 0.3s;
    &.active{
      color:$white;
      &::after{
        content:'';
        position: absolute;
        width: rem(6);
        height: rem(6);
        background-color: $red;
        border-radius: 50%;
        left: 50%;
        top: -40%;
        transform: translateX(-50%);
        transition: all 0.3s;
      }
    }
  }


  @include media-mobile-up {
    gap: rem(40);
    margin-bottom: rem(20);
    a{
      font : {
        size: $fs-xl;
      }
    }
  }
}


// 디테일 페이지
.project-detail-wrap{
  padding-top: 0;
  .project-main{
    width: 100%;
    img{
      width: 100%;
      height: rem(500);
      object-fit: cover;
    }
    figcaption{
      margin-left: 10%;
      padding-bottom: rem(80);
    }
    .title{
      font : {
        size: rem(40);
        weight : $fw-extra;
      }
      transform:translateY(-50%);
    }
    p{
      font : {
        size: $fs-lg;
      }
    }
  }

  @include media-mobile-up{
    .project-main{
      figcaption{
        padding-bottom: rem(40);
      }
      .title{
        font : {
          size: rem(100);
          weight : $fw-extra;
        }
        transform:translateY(-50%);
      }
    }
  }
}
// 디테일 페이지 끝