@use '../abstract/' as *;

.tab-wrap{
  @include hstack(10);
  a{
    font : {
      size: $fs-lg;
    }
    color:$gray;
    position: relative;
    &::after{
      content:'';
      position: absolute;
      width: rem(10);
      height: rem(10);
      background-color: $red;
      border-radius: 50%;
      left: 50%;
      top: -50%;
      transform: translateX(-50%);
      transition: all 0.3s;
    }
    &.active{
      color:$white;
      &::after{
        display: block;
      }
    }
  }


  @include media-mobile-up {
    gap: rem(40);
    margin-bottom: rem(20);
    a{
      font : {
        size: $fs-xl;
      }
    }
  }
}