@use 'mediaQuery'as *;
@use 'functions'as *;
@use 'variables'as *;
@use 'mixins'as *;

/*공통 스타일*/


// 숨김처리 
.visually-hidden {
  position: absolute !important;
  width: 1rem !important;
  height: 1rem !important;
  padding: 0 !important;
  margin: -1rem !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}



.d-md-none {
  @include media-mobile-up {
    display: none!important;
  }
}

.d-none{
  display: none!important;
}


.card{
  @include card(null, null);
}

//text
@each $colors, $value in $theme-colors {
  .text-#{$colors} {
    @include button-bg($value, $value);
  }
}