@use 'mediaQuery'as *;
@use 'functions'as *;
@use 'variables'as *;
@use 'mixins'as *;

/*공통 스타일*/


// 숨김처리 
.visually-hidden, .visually-hidden-focusable:not(:focus) {
  position: absolute !important;
  width: 1rem !important;
  height: 1rem !important;
  padding: 0 !important;
  margin: -1rem !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}



.d-md-none {
  @include media-mobile-up {
    display: none!important;
  }
}

.d-md-block{
  @include media-mobile-up {
    display: block!important;
  }
}

.d-none{
  display: none!important;
}


.card{
  @include card(20, 20);
  @include media-mobile-up{
    padding: rem(40);
  }
}

//text-color variation
@each $colors, $value in $theme-colors {
  .text-#{$colors} {
    color:$value;
  }
}


.description-wrapper{
  @include grid-container(null, 1 , 16);
  width: 100%;
  @include media-mobile-up {
  
  }
}

ul.disc-style{
  padding-left: rem(20);
  li{
    list-style: disc;
  }
}

.tag-list{
  li{
    font : {
      size: rem(16)
    }
  }

  @include hstack(10);
  
    row-gap: rem(4);
    min-height: 40rem;
    line-height: 1;
    flex-wrap: wrap;
    li{
     
      &::before{
        content :'#';
        padding-right: rem(4);
      }
    }

    @include media-mobile-up{
      .contact-section  &{
        li{
          font : {
            size: rem(12)
          }
        }
      }
    }
}
