/* 미디어 쿼리 */

//breakpoint


$mobile: 768px; //사용
$tablet: 992px; //사용
$laptop: 1197px; //사용

// Mobile 분기점 768이상일때
@mixin res--mobile-up {
  @media (min-width: #{$mobile}) {
    @content;
  }
}
// // Mobile 분기점 768이히일때
// @mixin res--mobile-down {
//   @media (max-width: #{$mobile}) {
//     @content;
//   }
// }

// Tablet 분기점 992px이상일때
@mixin res--tablet-up {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

// laptop 분기점 1196이상일때
@mixin res--laptop-up {
  @media (min-width: #{$laptop}) {
    @content;
  }
}