@use 'functions' as *;
@use 'variables' as *;

/*믹스인*/

// 플렉스 / 가로
@mixin hstack($gap:null){
  display: inline-flex!important;
  align-items: center;
  // gap: #{calc($gap)}rem;
  @if($gap == null ){
    gap:inherit;
  }
  @else{
    gap : #{$gap}rem;
  }
}

// 플렉스/세로
@mixin vstack($gap:null){
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  @if($gap == null ){
    gap:inherit;
  }
  @else{
    gap : #{$gap}rem;
  }
}



// 이미지 백그라운드 경로
$path-image : '../images/';
@mixin bg-url($imageName, $type: "svg") {
  background-image: url("#{$path-image}#{$imageName}.#{$type}");
  background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
  display: inline-block;
}



//말줄임
// 글자 줄임 표시
@mixin ellipsis($lines: 1) {
  @if ($lines==1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
		word-break: break-all;
  }
}

// 버튼 
@mixin button {
  @include hstack(10);
  @include rounded($border-radius-lg);
	border-color: transparent;
	padding: rem(10) rem(24);
	cursor: pointer;
	text-decoration: none;
  font : {
    size: rem(14);
    weight:bold;
  }
	box-shadow: none!important;
	border-width: 1px;
	border-style: solid;
	background-color: transparent;

	//this determines Mozilla to show the padding
	// @include shadow;
  // @include button-bg($value);
	&:hover {
		text-decoration: none;
	}
	&:active {
		position: relative;
		top: 1px;
	}
}

@mixin button-bg( 
	$background,
	$border :  if(
		$color == $color-contrast-light, 
		shade-color($background, $btn-hover-bg-tint-amount),
		tint-color($background, $btn-hover-bg-shade-amount)
		),
	$color: color-contrast($background),
	$hover-background:
	// 조건 / true / false
	 if(
		$color == $color-contrast-dark, 
		shade-color($background, $btn-hover-bg-shade-amount),
		tint-color($background, $btn-hover-bg-tint-amount)
		)
 ) {
	border-color: $border;
  background-color: $background;
	// @include gradient(lighten($color, 13%), $color);//그라디언트
  // color: mix(#fff, $color, 90%);
	// color: $theme-colors.invert($background);
	color: $color;
	&:hover ,&:active{
		background-color: $hover-background;
		// @include gradient(lighten($color, 10%), darken($color, 5%))//그라디언트
    // background:lighten($background, 10%);
    // border-color: lighten($background, 13%);
	}
  &:focus{}
}

@mixin button-outline-variant(
  $color,
  $color-hover: color-contrast($color),
  $active-background: $color,
  $active-border: $color,
  $active-color: color-contrast($active-background)
) {
  color: $color;
  border-color: $color;

  &:hover {
    color: $color-hover;
    background-color: $active-background;
    border-color: $active-border;
  }


  &:disabled,
  &.disabled {
    color: $color;
    background-color: transparent;
  }
}



@mixin rounded($border) {
	-webkit-border-radius: $border;
	-moz-border-radius: $border;
	border-radius: $border;
}


// 카드 형태 단위
@mixin card($paddiing-y, $paddiing-x){
  border: 1rem solid $border-color;
  border-radius: $border-radius-md;
  padding : #{$paddiing-y}rem #{$paddiing-x}rem;
}


//form-filed 
@mixin form-field-type($type : input){
  padding: rem(20) rem(20);
  border-radius:  $border-radius;
  @if ($type== input){
    height: rem(56);
  }
  @else if($type == textarea){
    height: rem(150);
  }
}

//form-check
@mixin form-check-type($type : checkbox){
  width: rem(20);
  height: rem(20);
  // margin-top: 1.05px;
  // vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid $border-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  flex: none;
  cursor: pointer;
  background-color: $white;
  @if ($type == checkbox){
    border-radius: 4px;
    &:checked{
    background-color: $blue;
    border-color: $blue;
    background-image: svg-image(check, fff);
    }
  }
  @else if($type == radio){
    border-radius: 50%;
    &:checked{
      background-color: $blue;
      border-color: $blue;
      background-image:svg-image(radio, fff);
      }
  }
}