
$primary: #ffe100;
$light-yellow: #FFF5CD;
$dark-gray: #333;
$middle-gray:#edeeee;
$light-gray:#f8f8f8;
$gray: #666;
$border-color:#E6E6E6;



$blue:#0050FF;
$danger:#E8423F;
$success : #00e122;
$secondary : $blue;
$warning : #ff5100;
$white: #fff;
$black: #191919;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $blue,
  "success":    $success,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light-gray,
  "middle":      $middle-gray,
  "dark":       $dark-gray,
  "white":      $white,
  "black":      $black,
  "keyword":      $light-gray,
  "default":      $border-color,
) !default;


$header-height: 70px;
$header-height-lg: 80px;
$search-height: 50rem;
$search-height-lg: 56rem;


$box-shadow : 0 0.5rem 11rem 0px rgb(0 0 0 / 4%) !important;
$box-shadow-lg :0px 10px 30px rgba(0, 0, 0, 0.1) !important;

$border-radius-sm:4rem;
$border-radius:10rem;
$border-radius-md: 20rem;
$border-radius-lg: 50rem;




$variable-prefix:             bs- !default;

$min-contrast-ratio:   3 !default; //3/ 4.5 / 7 만 허용되는 값임, 더 밝아지기위해서는 3으로가면되긴하나 적용안될수도 있음. 
$color-contrast-dark:      $black !default;
$color-contrast-light:     $white !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$btn-hover-bg-shade-amount:       1.5% !default;
$btn-hover-bg-tint-amount:        10% !default;
$btn-hover-border-shade-amount:   10% !default;
$btn-hover-border-tint-amount:    10% !default;
$btn-active-bg-shade-amount:      20% !default;
$btn-active-bg-tint-amount:       20% !default;
$btn-active-border-shade-amount:  10% !default;
$btn-active-border-tint-amount:   10% !default;


$input-types : (
  "checkbox", "radio"
)
