@use '../abstract/variables' as *;


.cursor{
  position: fixed;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 2px solid $black;
  transition: transform .3s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 1000;
}


.grow, .grow-small{
  transform: scale(10);
  mix-blend-mode: difference;
  isolation: isolate;
  border: none;
}
.grow-small{
  transform: scale(2.5);
  background: $white;
}

.grow{
  filter: grayscale(0) ;
  background: $white;
}

.cursor-none{
  transform: scale(0);
}