@use '../abstract/' as *;

.article-about{
  .main-title{
    font: {
      size: rem(40)
    };
  }

  @include media-mobile-up{
    .main-title{
      font: {
        size: $fs-xxl;
      }
    }
  }
}