@use '../abstract/'as *;

.btn {
  @include button();
  // 버튼 컬러 

  &:focus{
    outline: auto
  }

  .section &{
    min-width: rem(200);
    justify-content: center;
  }
}

@each $colors, $value in $theme-colors {
  .btn-#{$colors} {
    @include button-bg($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

.btn-lg{
  padding: rem(14) rem(24)!important;
}


button:focus{
  outline: auto;
}

// ---------------------------------------------
/*커스텀 버튼*/


.discover-button{
  padding: rem(12) 0;
  border-bottom: 1px solid $border-color;
  width: 100%;
  color:$white; 
  display: block;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  transition: all 0.4s ease-in-out;
  &::before{
    content: '';

    width: 0;
    height: 100%;
    background-color: $black;
    transition: all 0.4s ease-in-out;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    
  }
  &:hover{
    color:$black;
    &::before{
      width: 100%;
      background-color: $white;
    }
  }
}