@use '../abstract/'as *;



$key-name-icon-map:(outlink, chevron);
$_hover-color:111;

// 키 애니메이션 버튼
@each $key-name in $key-name-icon-map {
  .key-button {
    @include hstack(8);
    position: relative;

    font : {
      size: rem(15);
      weight: 400;
    }

    span{
      line-height: 1;
    }

    //키아이콘

    .icon--key__#{$key-name} {
      display: inline-block;
      width: rem(22);
      height: rem(22);
      background: $light-gray;
      border-radius: 50%;
      overflow: hidden;
      transition: background cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
      position: relative;
      &::before,
      &::after {
        content: '';
        display: block;
        width: rem(10);
        height: rem(10);
        background-image: svg-image(#{$key-name});
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        // margin: -5px 0 0 -5px;
        margin: rem(-5) 0 0 rem(-5);
        transition: transform .4s, -webkit-transform .4s;
      }

      &::before {
        transform: translateY(0);
      }

      &::after {
        background-image: svg-image(#{$key-name}, #{$_hover-color});
      }

      @if $key-name==outlink {
        &::after{
          transform: translate3d(rem(-22), rem(22), 0);
        }
      }

      @if $key-name==chevron {
        &::after {
          transform: translateX(rem(-22));
        }
      }
    }

    .desktop & {
      &:hover {
        .icon--key__#{$key-name} {
          background-color: $primary;
          @if $key-name==outlink {
            &::before {
              transform: translate3d(rem(22), rem(-22), 0);
            }

            &::after {
              transform: translateY(0);
            }
          }

          @if $key-name==chevron {
            &::before {
              transform: translateX((rem(22)));
            }

            &::after {
              transform: translateX(rem(0));
            }
          }
        }

      }
    }
    .mobile & {
      .icon--key__#{$key-name} {
        background: $primary;
        @if $key-name==outlink {
          &::before {
            transform: translate3d(rem(22), rem(-22), 0);
          }

          &::after {
            transform: translateY(0);
          }
        }

        @if $key-name==chevron {
          &::before {
            transform: translateX((rem(22)));
          }

          &::after {
            transform: translate(rem(0.52), rem(-0.4));
          }
        }
      }
    }
  }
}

//-----------------------------------------
//*************기본 버튼******************
//---------------------------------------
.btn {
  @include button();
  // 버튼 컬러 
}
@each $colors, $value in $theme-colors {
  .btn-#{$colors} {
    @include button-bg($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

.btn-lg{
  padding: rem(14) rem(24)!important;
}


//-----------------------------------------
//*************커스텀 버튼******************
//-----------------------------------------

// 공통 - 검색버튼
.search-button{
  @include hstack(null);
  justify-content: center;
  width:rem(40);
  height:rem(40);
  background-color: $middle-gray;
  border-radius: $border-radius-lg;
  &:hover,  &.active{
    background-color: $primary;
  }
  i{
    width: rem(20);
    height: rem(20);
  }
}


// 카테고리 버튼
.nav-link {
  @include button();

  background-color: $light-gray;
  
  &.primary {
    padding:rem(16) rem(20);
    &.active {
      background-color: $primary;
    }
  }

  &.secondary {
    &.active{
      color:$white;
      background-color: $secondary;
    }
  }
 &:hover{
  background:darken($light-gray, $btn-hover-bg-shade-amount);
 }
}
// 카테고리 소분류 정렬버튼
.category-toggle-button{
  display: none;
  
  @include res--tablet-up {
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    background-color: $black;
    position: relative;
    display: block;
    transform: translateY(160%);
    &::after{
      content: '';
      width: rem(8);
      height: rem(8);
      position: absolute;
      left: 50%;
      top: 50%;
      background: svg-image(arrow-right, fff)no-repeat center;
      transform: translate(-50%, -50%) rotate(90deg);
      // background-size: cover;
      transition: all 0.3s;
    }
    &.active{
      background-color: $primary;
      &::after {
        transform: translate(-50%, -50%) rotate(270deg);
        background: svg-image(arrow-right, 111)no-repeat center;
      }
    }
  }
}

// 공통 - 더보기 버튼
.more-button{
  color:$black;
    &::after{
      content: '';
      background: svg-image(arrow-right, 666)no-repeat center;
      width: rem(5);
      height: rem(10);
      background-size: cover;
    }
    &:hover{
      background-color: $light-gray;
    }
}

button:focus{
  outline: auto;
}