@use '../abstract/'as *;


.form{
  width: 100%;
  max-width: none;
  footer{
    @extend %contents-btn-wrap;
  }
}


.form-field{

  input:not([type="checkbox"], [type="radio"], [type="file"], [type="button"]){
    @include form-field-type(input);
  }

  textarea{
    @include form-field-type(textarea);
  }

  label {
    font : {
      size: rem(18);
      weight: bold;
    }
    line-height: 27px;
    letter-spacing: -0.005em;
    color: $black;;
    margin-bottom: rem(12);
  }
  

  .nesty-input {
    @include form-field-type(input);
    @include hstack(null);
    @include ellipsis(1);
    outline: none;
    &::after{
      content:'';
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: rem(6) rem(6) 0 rem(6);
      border-color: $gray transparent transparent transparent;
      right: 20px;
      top: 50%;
    }
  }

  &.required{
    position: relative;

    label{
      &::after{
        content:'';
        position: absolute;
        width: rem(4);
        height: rem(4);
        border-radius: 50%;
        background-color: $danger;
        top: rem(10);
        margin-left: rem(10);
        font : {
          size: rem(14);
        }
      }
    }
  }

  [id*=_hint]{
    display: none;
  }
}

.notification{
  font-family: 'kakaoBig';
}

.notification-inline{
  &.notification-error{
    background: none;
    border:0;
    color: $danger;

    &::before{
      background-image: svg-image(information, E8423F);
      margin: -3px 5px 0 0;
    }
  }
}


.hc-multiselect-toggle{
  height: rem(56);
  border-radius: $border-radius;
  &::after{
    content:'';
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: rem(6) rem(6) 0 rem(6);
    border-color: $gray transparent transparent transparent;
    right: 20px;
    top: 50%;
  }
}

.upload-item{
  background: $light-gray;
  float: none;
  width: 100%;
  padding: rem(10) rem(12);
  border-radius: 8px;
  margin-top: rem(10);
}

.upload-guide{
  float: left;
}
.upload-dropzone{
  float: right;
  border-radius: $border-radius;
  span{
    @include button();
    font: {
      size:rem(12);
      weight: bold;
    }
    color:$black;

    i{
      width: rem(16);
      height: rem(16);
    }
  }
  &:hover{
    background-color: $light-gray;
  }
}

.upload-pool{
  clear:both
}

.upload-item{
  > svg{
    width: rem(14);
    height: rem(14);
    transform: rotate(45deg);
    path {
      stroke: $secondary;
    } 
  }
  .upload-link{
    font : {
      weight : bold;
    }
  }
}



.form-check{
  @include hstack(10);
  label{
    font: {
      size:rem(14);
      weight:bold;
    };
    cursor: pointer;
  }
}

@each $type in $input-types{
  input[type = #{$type}]{
    @include form-check-type($type);
  }
}
