@use '../abstract/mixins' as mix;
@use '../abstract/functions' as func;

$images : alarm;
.icon{
  @each $value in $images{
    //기본아이콘
    &-#{$value}{
      @include mix.bg-url ("icon-#{$value}");
      width: func.rem(24);
      height: func.rem(24);
    }
  }
}
