@use '../abstract/mixins' as mix;
@use '../abstract/functions' as func;

$images : alarm, clear-button, search, comment, declaration, document, question, service, search-result, link, help, first, prev, next, last, pin, arrow-right, history-back, ch, facebook, instagram, youtube, clip;
.icon{

  @each $value in $images{
    //기본아이콘
    &-#{$value}{
      @include mix.bg-url ("icon-#{$value}");
      width: func.rem(24);
      height: func.rem(24);
    }
    //타이틀 아이콘
    &-title-#{$value}{
      @include mix.bg-url ("icon-title-#{$value}");
      width:func.rem(48);;
      height: func.rem(48);
    }

    //sns 아이콘{
      &-sns-#{$value}{
        @include mix.bg-url ("icon-sns-#{$value}");
        width: func.rem(26);
        height: func.rem(26);
        background-color: #777;
        transition : background-color 0.3s;
        &:hover{
          background-color: #111;
        }
        border-radius: 50%
      }

    //페이지네이션 아이콘
    &-pagination-#{$value}{
      @include mix.bg-url ("icon-pagination-#{$value}");
      width: func.rem(14);
      height: func.rem(14);
    }

    //평가 아이콘
    &-evaluation-#{$value}{
      @include mix.bg-url ("icon-evaluation-#{$value}");
      width: func.rem(24);
      height: func.rem(24);
    }

    //문의하기 아이콘
    &-request-#{$value}{
      @include mix.bg-url ("icon-request-#{$value}");
      width: func.rem(80);
      height: func.rem(80);
    }

  }
}
