@use '../abstract/' as *;

$images : github, notion, skill, cooperation, compatibility, user, contact-svg;
.icon{
  @each $value in $images{
    //기본아이콘
    &-#{$value}{
      @include mix.bg-url ("icon-#{$value}");
      width: rem(24);
      height: rem(24);
    }

    &-about__#{$value}{
      @include mix.bg-url ("icon-about__#{$value}");
      width: rem(24);
      height: rem(24);
      @include media-mobile-up{
        width: rem(50);
        height: rem(50);
      }
    }
  }
}
