@use '../abstract/'as *;



//컨텐츠 리스트
.list-link-wrap {
  >li{
    border-bottom: 1px solid $border-color;
    >a{
      padding: rem(30) 0;
      width: 100%;
      display: block;
      &:hover{
        background-color: $light-gray;
        .link-title{
          font : {
            weight:bold;
          }
        }
      }
    }
  }
  .link-container {
    @include hstack(16);
    // align-items: flex-start;
    width: 100%;
    .link-bullets, .link-assistant{
      @include hstack(null);
      justify-content:flex-start;
      height:100%;
      flex: none;
      i{
        width: rem(20);
        height: rem(20);
      }
    }
    .link-bullets{
      justify-content: center;
      font : {
        weight:bold;
      }
      max-width: rem(34);
      width: 100%;
    }
    .link-title{
      @include ellipsis(1);
      flex-grow: 1;
      font : {
        size: rem(16);
        weight: 400;
      }
    }
    .date {
      font : {
        size: rem(16);
      }
      color: $middle-gray;
      text-align: right;
      letter-spacing: -0.005em;
    }
   
  }

  .breadcrumb-search{
    @include hstack(20);
    li{
      font : {
        size: rem(12);
      }
      position: relative;
      color:$gray;
      line-height: 1;
      & + li{
        &::before{
          content:'';
          background: svg-image(arrow-right, 666)no-repeat center;
          width: 10rem;
          height: 10rem;
          background-size: contain;
          position: absolute;
          left: -50%;
          top: 50%;
          transform: translate(-50%, -50%);
        } 
      }
    }
  }

  .desc-area{
    @include ellipsis(3);
    font : {
      size : rem(14);
    }
    color: $gray;
  }

  &.result-list{
    li{
      >a {
        @include vstack(10);
        align-items: flex-start;
      }
    }
    .link-container {
      .link-bullets{
        max-width: none;
        width: auto;
      }
    }
  }

  @include res--tablet-up{
    margin-top: rem(20);
    gap: rem(20);
    >li{
      >a{
        padding:rem(30) rem(20);
      }
    }
    .link-container{

      .link-title{
        font : {
          size: rem(18);
        }
      }
    }

    .desc-area{
      @include ellipsis(2);
    }
  }
}