@use '../abstract/'as *;

//페이지네이션
.pagination{

  @include hstack(10);
  
  a{
    font : {
      size: rem(16);
    }
    color:$white;
    @include hstack(null);
    justify-content: center;
  }

  @include media-mobile-up{
    a{
      font : {
        size: rem(24);
      }

      color:$white;
      transition: all 0.3s;
      &:hover, &:focus{
        width: rem(20);
        height: rem(20);
        background-color: $white;
        border-radius: 50%;
        color:$black;
      }
    }
  }
}