@use '../abstract/'as *;

//페이지네이션
.pagination{
  margin-top: rem(100);
  @include hstack(10);
  
  a{
    font : {
      size: rem(16);
    }
    color:$white;
    @include hstack(null);
    justify-content: center;
    width: rem(24);
    height: rem(24);
    border-radius: 50%;
  }

  @include media-mobile-up{
    a{
      font : {
        size: rem(24);
      }
      width: rem(40);
      height: rem(40);

      transition: all 0.3s;
      &:hover, &:focus{

        background-color: $white;
        border-radius: 50%;
        color:$black;
      }
    }
  }
}