@use '../abstract/'as *;

.stickied-title {
  .title-wrapper {
    small {
      font : {
        size: rem(12);
      }
    }

    .main-title {
      font : {
        size: $fs-lg;
      }

      letter-spacing: -0.75rem;
      // opacity: 0;
      // visibility: hidden;
    }
  }
}

.main-title {
  font : {
    size: rem(50);
    weight: $fw-bold;
  }
  display: block;
  line-height: rem(54);
  display: inline-block;
  margin :rem(20) 0 rem(60) 0;
  transition: all 0.3s;


  @include media-mobile-up {
    font : {
      size: rem(150);
    }

    line-height: rem(150);
    // margin :rem(80) 0 rem(80) 0;
  }
}

.main-title-wrap {
  padding: rem(40) 0 rem(40) 0;
  margin-top: rem(60);

  small {
    font: {
      size: rem(24);
    }
  }

  .title {
    font : {
      size: rem(24);
      weight: $fw-bold;
    }
  }

  @include media-mobile-up {
    padding: rem(120) 0 rem(20) 0;
    margin-top: rem(120);
  }
}

.visual-title {
  font : {
    size: rem(48);
  }

  // text-shadow: text-outline($border-color);
  display: block;
  @include text-outline(1, $black);
  line-height: 1.1;
  color:transparent;


  span {
    color: $black;
  }

  @include media-tablet-up {
    font : {
      size: $fs-xxl;
    }
  }
}


.summary-text {
  font : {
    size: rem(12);
  }
}


.title-info-wrap {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  height: calc(100vh - 100rem - $header-height);
  width: 100%;
  border-bottom: 1px solid;
  padding-bottom: rem(30);

  .project-detail-section & {
    height: auto;
    border: 0;
  }

  small {
    font : {
      size: $fs-md;
    }

    display: block;
    // color:$success;
    margin-top: rem(100);
  }

  .main-title {
    font : {
      size: $fs-xl;
      weight: $fw-normal;
    }

    line-height: 1.2;
  }

  p {
    font : {
      size: $fs-md;
    }

    margin-bottom: 0;
  }

  .scroll-container {
    width: 240px;
    height: 240px;
    position: absolute;
    top: -3%;
    right: -90px;

    i {
      width: 240px;
      height: 240px;
      background-size: contain;
    }

    .scroll {
      @include hstack(null);
      color: $success;
      justify-content: center;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      position: absolute;
      background-color: $black;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include media-tablet-up {
    height: 75vh;

    .scroll-container {
      display: block;
      width: 15vw;
      height: 15vw;
      position: absolute;
      right: rem(60);
      bottom: rem(-60);
      top: auto;

      i {
        width: 15vw;
        height: 15vw;
      }

      .scroll {
        width: 8vmax;
        height: 8vmax;
      }
    }

    .desc {
      max-width: 80%;
      padding: rem(60) 0;
    }

    small {
      display: block;

      font : {
        size: $fs-lg;
        weight: bold;
      }
    }

    .main-title {
      font : {
        size: 4vmax;
      }

      strong {
        font : {
          weight: $fw-bold;
        }
      }
    }

    p {
      font : {
        size: $fs-lg;
        weight: bold;
      }

    }
  }
}