@use '../abstract/'as *;
.stickied-title{
  .title-wrapper{
    small{
      font : {
        size: rem(12);
      }
    }
    .main-title{
      font : {
        size: $fs-lg;
      }
      letter-spacing: -0.75rem;
      // opacity: 0;
      // visibility: hidden;
    }
  }  
}

.main-title {
  font : {
    size: rem(50);
    weight: $fw-bold;
  }
  line-height: rem(54);
  display: inline-block;
  margin :rem(20) 0 rem(60) 0;
  transition: all 0.3s;


  @include media-mobile-up{
    font : {
      size: rem(150);
    }
    line-height: rem(150);
    // margin :rem(80) 0 rem(80) 0;
  }
}

.main-title-wrap{
  padding:rem(40) 0 rem(10) 0;
  border-bottom: 1px solid;
  small{
    font: {
      size: $fs-xl;
    }
  }
  .title{
    font : {
      size: $fs-xl;
      weight:$fw-bold;
    }
  }
  @include media-mobile-up{
    padding:rem(120) 0 rem(20) 0;
  
    small{
      font: {
        size: $fs-xl;
      }
    }
    .title{
      font : {
        size: $fs-xl;
        weight:$fw-bold;
      }
    }
  }
}

.visual-title{
  font : {
    size : rem(48);
  }
  // text-shadow: text-outline($border-color);
  display: block;
  @include text-outline(1, $black);
  line-height: 1.1;
  color:transparent;


  span{
    color:$black;
  }

  @include media-tablet-up{
    font : {
      size :$fs-xxl;
    }
  }
}


.summary-text{
  font : {
    size : rem(12);
  }
}