@use '../abstract/'as *;

.main-title {
  font : {
    size: rem(50);
    weight: 900;
  }
  line-height: rem(44);

  margin :rem(10) 0 rem(50) 0;

  @include media-mobile-up{
    font : {
      size: rem(150);
    }
    display: inline-block;
    margin :rem(80) 0 rem(80) 0;
  }
}

.title-header-wrap {
  @include hstack(8);
  margin-bottom: rem(20);

  h2 {
    font : {
      size: rem(18);
      weight: bold;
    }
  }

  &.required {
    h2 {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: rem(4);
        height: rem(4);
        border-radius: 50%;
        background-color: $danger;
        top: 10px;
        margin-left: rem(10);

        font : {
          size: rem(14);
        }
      }
    }
  }
}
