.btn{
    display: inline-block;
    font-weight: 600;
    color: #000;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 11px 26px;
    font-size: 0.875rem;
    line-height: 23px;
    font-size: 19px;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-weight: bold;
  }
  @media screen and (max-width: 992px) {
    .btn{ 
      min-width: 90px;
      &.btn-sm{
        padding: 1px 0.3rem; font-size: 11px; line-height: 22px; min-height: 22px;
      }
      &.btn-md{
        padding: 3px 0.7rem; font-size: 12px; line-height: 24px; min-height: 24px;
      }
      &.btn-lg{
        padding: 5px 0.7rem; font-size: 13px; line-height: 24px; min-height: 26px;
      }
      &.btn-xl{
        padding: 7px 0.7rem; font-size: 14px; line-height: 24px; min-height: 30px;
      }
    
    }
  }